@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");

:root {
    --primary-color: #fff0db;
    --secondary-color: #e6718c;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Montserrat";
    color: var(--primary-color);
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}
.grid-container {
    padding: 20px;
    display: inline-flex;
    gap: 50px 100px;
    grid-auto-columns: 2;
    background-color: var(--primary-color)
}

.grid-container .product-family:hover{
    border-bottom: 2px #fff solid;
    transform: scale(0.96);
}

.product-family {
    text-align: center;
    color: black;
}

.soap-entry{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    gap: 30px;
    
}

.single-soap{
    color: black;
    text-align: center;

}

.single-soap img{
    border-radius: 5px;
    width: 90%;
}

